{% extends 'pages/password_reset/base.html' %}

{% block title %}
Reset password: CovidNP
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<form action="" method="POST">
  {% csrf_token %}
  <h2>Password Reset</h2>
  <small>Please enter the email address you have used to register at CovidNP. If it is present in our database, we will send you
    a passwork reset link.</small>
    <br><br><br><br>
  
  {{ form|crispy }}
  <div class="mt-3 mb-3">
    <button type="submit" class="btn btn-outline-success">Get New Password</button>
  </div>
</form>
{% endblock %}