{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Get Nepali COVID-19 statistics for all your needs though a simple API interface">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% block css %}
    {% endblock %}

</head>

<body>

    {% block content %}
    {% endblock%}

    {% include 'pages/footer.html' %}

    {% block js %}
    {% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{% static 'pages/script.js' %}"></script>

</body>

</html>