{% extends 'pages/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="{% static 'pages/scribbler-global.css' %}">
<link rel="stylesheet" href="{% static 'pages/scribbler-doc.css' %}">
<link rel="author" href="humans.txt">
{% endblock %}


{% block content %}
<div class="doc__bg"></div>
<nav class="header">
    <h1 class="logo"><span class="logo__thin">Changelogs</span></h1>
    <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="{% url 'index' %}" class="link link--dark"><i class="fa fa-home"></i> Home</a>
        </li>
    </ul>
</nav>
<div class="changelog">
    <div class="wrapper" style="min-height: 78vh;">
        <h3 class="section__title">Changelog</h3>
        <div class="changelog__item">
            <div class="changelog__meta">
                <h4 class="changelog__title">v0.1</h4>
                <small class="changelog__date">22/05/2021</small>
            </div>
            <div class="changelog__detail">
                <ul>
                    <li>Added automated scraper for updating details regularly</li>
                    <li>Added token authentication for API</li>
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}