{% load static %}
<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="description" content="Get Nepali COVID-19 statistics for all your needs though a simple API interface">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CovidNP API</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
    <link rel="stylesheet" href="{% static 'pages/scribbler-global.css' %}">
    <link rel="stylesheet" href="{% static 'pages/scribbler-landing.css' %}">
    <link rel="author" href="humans.txt">
</head>

<body>
    <nav>
        <div class="logo"></div>
        <ul class="menu">
            <div class="menu__item toggle"><span></span></div>
            <li class="menu__item"><a href="{% url 'docs' %}" class="link link--dark"><i class="fa fa-book"></i>
                    Documentation</a></li>
            <li class="menu__item"><a href="" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
        </ul>
    </nav>
    <div class="hero">
        <h1 class="hero__title">COVID Nepal API</h1>
        <p class="hero__description">The day of doom has finally come when the docs have to be written ;_;</p>
    </div>
    <div class="hero__terminal">
        <pre>
        <!-- Place your demo code here -->
        <code class="shell-session demo">covid-API ~ $ </code>
      </pre>
    </div>
    <div class="wrapper">
        <div class="feature">
            <div class="feature__item">
                <h3 class="section__title">Fast & Accessible</h3>
                <p>Get the latest statistics on Nepal's COVID-19 pandemic at a single call.</p>
            </div>
            <div class="feature__item">
                <h3 class="section__title">Flexible</h3>
                <p>Query specific data by combining powerful filters like date, gender, province, district, etc.</p>
            </div>
            <div class="feature__item">
                <h3 class="section__title">Easy to get started</h3>
                <p>Just generate your key and go! Intregrate into your own apps, websites, data science projects or ML
                    models. Look around with a web browser, or use your favorite API tools like
                    Postman or Swagger.</p>
            </div>
            <div class="feature__item">
                <h3 class="section__title">Accurate & Reliable</h3>
                <p>Get data updated from trusted sources multiple times a day.</p>
            </div>
            <!-- <div class="feature__item">
                <h3 class="section__title">Highlightings</h3>
                <p>For better readability, scribbler has a clean, beautiful color scheme allow you to scan files fast.
                </p>
            </div>
            <div class="feature__item">
                <h3 class="section__title">Keybindings</h3>
                <p>You can expect common keybindings for scribbler. Customize <span
                        class="code code--inline">bindings.json</span> for your own liking! </p>
            </div> -->
        </div>
        <div class="keybinding">
            <ul class="keybinding__detail">
                <h2 class="keybinding__title" style="margin: 0px 20px;">Get started!</h3>
                <li>Create an account today to start using the Covid Nepal API</li>
            </ul>
            <span style="margin: 10px 30px;">OR</span>
            <ul class="keybinding__detail">
                <h2 class="keybinding__title" style="margin: 0px 20px;">Read the docs</h3>
                <li>-- Getting Started</li>
                <li></li>
                <li><span class="keybinding__label">Ctrl+V</span> Insert YouTube Video</li>
                <li><span class="keybinding__label">Ctrl+T</span> Insert Table</li>
            </ul>
        </div>
        <div class="callout">
            <p>Read our documentation for advanced keybindings and customization</p>
            <a href="doc.html" class="button--primary">Documentation</a>
        </div>
    </div>
    <div class="changelog">
        <div class="wrapper">
            <h3 class="section__title">Changelog</h3>
            <div class="changelog__item">
                <div class="changelog__meta">
                    <h4 class="changelog__title">v0.7</h4>
                    <small class="changelog__date">10/12/2017</small>
                </div>
                <div class="changelog__detail">
                    <ul>
                        <li>Improving the writing workflow with better key bindings</li>
                        <li>Design updates</li>
                        <li>SSL Verification for web hooks</li>
                        <li>Render Emoji</li>
                    </ul>
                </div>
            </div>
            <div class="changelog__item">
                <div class="changelog__meta">
                    <h4 class="changelog__title">v0.6</h4>
                    <small class="changelog__date">7/30/2017</small>
                </div>
                <div class="changelog__detail">
                    <ul>
                        <li>Adding Unicode support</li>
                        <li>Basic text highlighting</li>
                        <li>Fresh Design</li>
                    </ul>
                </div>
            </div>
            <div class="changelog__item">
                <div class="changelog__meta">
                    <h4 class="changelog__title">v0.5</h4>
                    <small class="changelog__date">5/10/2017</small>
                </div>
                <div class="changelog__detail">
                    <ul>
                        <li>Save default md file in new folders</li>
                        <li>Ability to quick search on existing notes</li>
                    </ul>
                </div>
            </div>
            <div class="changelog__callout">
                <a href="#" class="button--secondary">Checkout Full Log</a>
            </div>
        </div>
    </div>
    <footer class="footer">Scribbler is a free HTML template created exclusively for <a
            href="https://tympanus.net/codrops/" target="_blank" class="link link--light">Codrops</a>.</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{% static 'pages/scribbler.js' %}"></script>
</body>

</html>