{% extends 'pages/base.html' %}
{% load static %}

{% block title %}COVID-19 Nepal API{% endblock %}

{% load crispy_forms_tags %}

{% block css %}
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/railscasts.min.css">
<link rel="stylesheet" href="{% static 'pages/style-global.css' %}">
<link rel="stylesheet" href="{% static 'pages/style-landing.css' %}">
<link rel="author" href="humans.txt">
<style>
    :root {
        --colorShadeA: #B94B4C;
        --colorShadeD: #e58d8d3a;
        --colorShadeE: #F8F8FA;
    }

    @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");

    .container {
        padding: 2rem 0rem;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 400px;
        }

        .modal-dialog .modal-content {
            padding: 1rem;
        }
    }

    .modal-header .close {
        margin-top: -1.5rem;
    }

    .form-title {
        margin: -2rem 0rem 2rem;
    }

    .btn-round {
        border-radius: 3rem;
    }

    .delimiter {
        padding: 1rem;
    }

    .social-buttons .btn {
        margin: 0 0.5rem 1rem;
    }

    .signup-section {
        padding: 0.3rem 0rem;
    }

    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        margin-top: 15px;
        vertical-align: middle;
        text-decoration: none;
        font-size: 1rem;
        color: var(--colorShadeA);
        font-weight: 700;
        text-transform: uppercase;
        font-family: inherit;
    }

    button.big-button {
        padding: 0.2em 1.4em;
        border: 2px solid var(--colorShadeA);
        border-radius: 1em;
        background: var(--colorShadeE);
        transform-style: preserve-3d;
        transition: all 175ms cubic-bezier(0, 0, 1, 1);
    }

    button.big-button:hover {
        background: var(--colorShadeD);
        transform: translate(0, 0.375em);
    }

    button.big-button:active {
        transform: translate(0em, 0.5em);
    }
</style>
{% endblock %}

{% block content %}

<nav>
    <div class="logo"></div>
    <ul class="menu">
        <div class="menu__item toggle"><span></span></div>
        <li class="menu__item"><a href="{% url 'docs' %}" class="link link--dark"><i class="fa fa-book"></i>
                Documentation</a></li>
        <li class="menu__item"><a href="https://github.com/rrojan20/CovidNP_API" class="link link--dark"><i class="fab fa-github"></i> Github</a></li>
        {% if user.is_authenticated %}
        <li class="menu__item"><a href="{% url 'my_api' %}" class="link link--dark"><i class="fas fa-code"></i>
                MyAPI</a></li>
        {% else %}
        <li class="menu__item"><a href="" class="link link--dark" data-toggle="modal" data-target="#loginModal"
                id='login'><i class="fas fa-rocket"></i> Get Started</a></li>
        {% endif %}
    </ul>
</nav>
<div class="hero">
    <h1 class="hero__title my-4">COVID Nepal API</h1>
    <p class="hero__description">Get the latest statistics on the COVID-19 outbreak in Nepal for all your development
        needs
    </p>
</div>
<div class="hero__terminal">
    <pre>
    <!-- Place your demo code here -->
    <code class="shell-session demo">covidNP ~ $ </code>
  </pre>
</div>
<div class="wrapper">
    <div class="feature">
        <div class="feature__item my-2">
            <h3 class="section__title">Fast & Reliable</h3>
            <p>Get the latest statistics on Nepal's COVID-19 pandemic at a single call.</p>
        </div>
        <div class="feature__item my-2">
            <h3 class="section__title">Flexible</h3>
            <p>Query specific data combining powerful filters like date, gender, province, district, etc.</p>
        </div>
        <div class="feature__item my-2">
            <h3 class="section__title">Extensible</h3>
            <p>Intregrate into your own apps, websites, data projects or ML
                models. Look around with a web browser, or use your favorite API tools like
                Postman or Swagger.</p>
        </div>
        <div class="feature__item my-2">
            <h3 class="section__title">Accessible</h3>
            <p>Get your required data in neat <span class="code code--inline">.json</span> format for better ease of
                use.</p>
        </div>

        <div class="feature__item my-2">
            <h3 class="section__title">Accurate & Trustable</h3>
            <p>Get data updated from trusted sources multiple times a day.</p>
        </div>

        <div class="feature__item my-2">
            <h3 class="section__title">Easy to get started</h3>
            <p>Just generate your key and go! </p>
        </div>
    </div>
    <div class="keybinding">
        <ul class="keybinding__detail">
            <h2 class="keybinding__title" style="margin: 0px 20px;">Get started!</h3>
                {% if not user.is_authenticated %}
                <li>Create an account today to start using Covid Nepal API</li>
                <button class="big-button" data-toggle="modal" data-target="#loginModal" id='login'>Login</button>&nbsp;
                <button class="big-button" data-toggle="modal" data-target="#signupModal" id='signup'>Signup</button>
                {% else %}
                <a href="{% url 'my_api' %}"><button class="big-button" id='my-api-btn'>My API</button>&nbsp;</a>
                {% endif %}
        </ul>
        <span style="margin: 10px 30px;">OR</span>
        <ul class="keybinding__detail">
            <h2 class="keybinding__title" style="margin: 0px 20px;">Read the docs</h3>
                <li>- <a href="/docs#introduction">Introduction</a></li>
                <li>- <a href="/docs#getting-started">Getting Started</a></li>
                <li>- <a href="/docs#api">API Routes, Endpoints and Filters</a></li>
                <li>- <a href="/docs#apps">Integrating into your own website/apps</a></li>
                <li>- <a href="/docs#throttling">Throttling</a></li>
        </ul>
    </div>
    <div class="callout">
        <p>Refer to the full documentation for more details</p>
        <a href="{% url 'docs' %}" class="button--primary">Documentation</a>
    </div>
</div>
<div class="changelog">
    <div class="wrapper">
        <h3 class="section__title">Changelog</h3>
        <div class="changelog__item">
            <div class="changelog__meta">
                <h4 class="changelog__title">v0.1</h4>
                <small class="changelog__date">22/05/2021</small>
            </div>
            <div class="changelog__detail">
                <ul>
                    <li>Added automated scraper for updating details regularly</li>
                    <li>Added token authentication for API</li>
                </ul>
            </div>
        </div>
        <div class="changelog__callout">
            <a href="{% url 'changelogs' %}" class="button--secondary">Checkout Full Log</a>
        </div>
    </div>
</div>

<!-- Login modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Login</h4>
                </div>
                <div class="d-flex flex-column text-center">

                    {% if messages %}
                    <script>
                        document.addEventListener('DOMContentLoaded', _ => {
                            $("#loginModal").modal()
                        });
                    </script>
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                    {% endfor %}
                    {% endif %}

                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <input type="email" class="form-control" id="email1" name='email'
                                placeholder="Your email address...">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password1" name='password'
                                placeholder="Your password...">
                        </div>
                        <button type="submit" class="btn btn-outline-success">Login</button>
                    </form>

                    <div class="text-center text-muted delimiter">or use a social network</div>
                    <div class="d-flex justify-content-center social-buttons">
                        <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                            data-placement="top" title="Twitter" disabled>
                            <i class="fab fa-twitter"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                            data-placement="top" title="Facebook" disabled>
                            <i class="fab fa-facebook"></i>
                        </button>
                        <button type="button" class="btn btn-secondary btn-round" data-toggle="tooltip"
                            data-placement="top" title="Linkedin" disabled>
                            <i class="fab fa-linkedin"></i>
                        </button>
                        </di>
                    </div>
                </div>
                <small><a href="{% url 'reset_password' %}">Forgot password?</a></small>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <div class="signup-section">Not a member yet? <a href="#" class="text-info" id='sign-up-toggle'> Sign
                        Up</a>.</div>
            </div>
        </div>
    </div>
</div>

<!-- Signup modal -->
<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-title text-center">
                    <h4>Signup</h4>
                </div>
                <div class="d-flex flex-column text-center">
                    <form action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
                        {{ signup_form|crispy }}
                        <button type="submit" class="btn btn-outline-success">Signup</button>
                    </form>
                </div>
            </div>
            <!-- <div class="modal-footer d-flex justify-content-center">
                <div class="signup-section">Not a member yet? <a href="#a" class="text-info"> Sign Up</a>.</div>
            </div> -->
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<!-- jQuery -->
<script src='https://code.jquery.com/jquery-3.3.1.slim.min.js'></script>
<!-- Popper JS -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js'></script>
<!-- Bootstrap JS -->
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js'></script>
<script>
    document.querySelector('#sign-up-toggle').addEventListener('click', _ => {
        $("#loginModal").modal('hide');
        $("#signupModal").modal()
    });
</script>
{% endblock %}