{% extends 'pages/auth_base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Logout
{% endblock %}

{% block content %}
<div class="container">
    <div class="d-flex flex-column text-center my-5">
        You have been logged out successfully.
        <br><br>
        Redirecting in <span id="counter">3</span>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

    function countdown() {
        let countEl = document.getElementById('counter');
        if (parseInt(countEl.innerHTML) === 1) {
            location.href = '{% url "index" %}';
        }
        if (parseInt(countEl.innerHTML) !== 1) {
            countEl.innerHTML = parseInt(countEl.innerHTML) - 1;
        }
    }
    setInterval(function () { countdown(); }, 1000);
</script>
{% endblock %}