{% extends 'pages/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="{% static 'pages/scribbler-global.css' %}">
<link rel="stylesheet" href="{% static 'pages/scribbler-doc.css' %}">
<link rel="author" href="humans.txt">
{% endblock %}


{% block content %}
<div class="doc__bg"></div>
<nav class="header">
  <h1 class="logo"><span class="logo__thin">My</span>API</h1>
  <ul class="menu">
    <div class="menu__item toggle"><span></span></div>
    <li class="menu__item"><a href="" class="link link--dark"><i class="fa fa-github"></i> Github</a></li>
    <li class="menu__item"><a href="index.html" class="link link--dark"><i class="fa fa-home"></i> Home</a></li>
  </ul>
</nav>
<div class="wrapper">
  <aside class="doc__nav">
    <ul>
      <li class="js-btn selected">My Details</li>
      <!-- <li class="js-btn">Configuration</li>
      <li class="js-btn">Keybindings</li>
      <li class="js-btn">Issues</li> -->
    </ul>
  </aside>
  <article class="doc__content">
    <section class="js-section">
      <h3 class="section__title">User details for {{ user.username }}</h3>
      <p>Please use these details while making API calls through CovidNP.</p>
      <div class="code__block code__block--notabs">
        <pre class="code code--block">
              <code>
                username: {{ user.username }}
                email: {{ user.email }}
                password: *****
                API key: xxx

                For security reasons, do not share your API key with anyone else.
              </code>
            </pre>
      </div>
    </section>
  </article>
</div>

{% endblock %}